
header{
    background-color: rgb(177, 176, 176);
}
h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
}

a{
    background-color: rgb(199, 197, 197);
    color: #000;
    font-size: 18px;
}

img{
    display: none;
}

section{
    background-color: rgb(117, 117, 117);
}

h2{
    text-transform: uppercase;
    color: #002c8b;
    font-size: 35px;
}

p{
    font-style: normal;
}