body{
    margin: 1px;
    padding: 1%;
}

header{
    background-image: url(../images/flywheel.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 1%;
}

h1{
    color: #fff;
    text-align: center;
    padding: 1px;
    text-transform: uppercase;
    font-size: 25px;
}

nav{    
    text-align: center;
}

nav a{
    background-color: rgba(218,234,213,0.60);
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin: 1%;
    display: inline-block;
    width: 10%;
}

.active{
    background-color: #fff;
    color: blue;
}



.left{
    background-color: #808000;
    width: 220px;
    float: left;
    height: 100vh;
}

.left img{
    border: solid 2px #000;
    margin-left: 20px;
	margin-top: 15%;
    width: 80%;
    background-color: #000;
}


section{
    padding-left: 10px;
    display: inline-block;
    width: 60%;
}

h2{
    font-weight: bold;
}

p{
    font-size: 17px;
}

li a:visited{
    color: rgb(5, 28, 90);
}


table{
    margin-left: 50px;
    text-align: center;
}

th{
    color: white;
    background-image:linear-gradient(#6d9b23,#69a530);
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    border-bottom: solid 3px #a5f035;
    padding: 10px;
    border: solid 2px #fff ;
    border-radius: 4px 4px 0 0;
    font-weight: bold;
    text-shadow: 1px 1px rgb(34, 33, 33);
}

th:first-child{
    text-align: left;
}


td{
    text-align: center;
    background-color: rgb(217, 238, 197);
    opacity: 0.8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    padding: 10px 30px 10px;
    font-weight: bold;
    border: solid 2px #fff ;
}

td:hover{
    opacity: 1;
}

td:first-child{
    text-align: left;
    padding-left: 10px;
    padding-right: 100px;
}

